$black: #222;
$grey: #8a8a8a;
$primary: #0058ff;
$danger: #ff6961;
$warning: #ffae42;
$success: #03c03c;

$colors: "primary" $primary, "danger" $danger, "warning" $warning,
  "success" $success, "grey" $grey;
